section {
  padding: 120px 156px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1128px;
}

header {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0 156px;
}

.contacts {
  margin-left: auto;
}

.logo-header {
  margin-right: 76px;
}
.nav-menu {
  display: flex;
  gap: 40px;
}

.contacts {
  display: flex;
  gap: 40px;
}

.heroimage {
  height: 600px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
}
.hero-title {
  width: 496px;
}
.heroimage button {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
}

.info {
  padding-bottom: 0;
}

.info ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.info ul li {
  width: 264px;
}

.our-work li {
  display: flex;
  border: 1px solid var(--cornflower, #e7e9fc);
}
.our-work {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.members {
  display: inline-flex;
  gap: 24px;
  justify-content: center;
}

.person {
  display: inline-flex;
  flex-direction: column;

  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.member-name {
  margin: 32px;
}

footer {
  height: 312px;
  padding: 100px 156px;
}

.footer-text {
  width: 264px;
}

ul {
  margin: 0;
  padding: 0;
}

.portfolio-browser {
  display: flex;
  flex-direction: column;
}

.filters ul {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
}

.filters ul li button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.filters {
  padding-bottom: 72px;
}

.project-cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.project-card-text {
  padding: 36px 16px;
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: 0;
}

.project-card img {
  display: block;
}
