:root {
  --cloud: #f4f4fd;
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --ocean: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  color: var(--navyblue, #2e2f42);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
}
h2 {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}
h3 {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2%;
  letter-spacing: 0.4px;
}

header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}

footer {
  background-color: var(--navyblue, #2e2f42);
}

.logo-header {
  color: var(--navyblue, #2e2f42);
  font-family: "Raleway";
  font-size: 18px;

  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-footer {
  color: var(--cloud, #f4f4fd);
  font-family: "Raleway";
  font-size: 18px;

  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-collor {
  color: var(--iris, #4d5ae5);
}

.nav-menu a {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.nav-menu a:hover,
.nav-menu a:focus {
  color: var(--ocean, #404bbf);
  border-color: var(--white, #fff);
}

.contacts a {
  color: var(--slate, #434455);
}

.contacts a:focus,
.contacts a:hover {
  color: var(--ocean, #404bbf);
}

.filter-button {
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);

  color: var(--iris, #4d5ae5);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
.filter-button:hover {
  border-radius: 4px;
  background: var(--ocean, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);

  color: var(--white, #fff);

  cursor: pointer;
}
.filter-button:focus {
  border-radius: 4px;
  background: var(--ocean, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);

  color: var(--white, #fff);
}

.heroimage {
  background: var(--navyblue, #2e2f42);
}
.hero-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.heroimage button {
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  cursor: pointer;
}

.heroimage button:focus {
  border-radius: 4px;
  background: var(--ocean, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.heroimage button:hover {
  border-radius: 4px;
  background: var(--ocean, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.project-card {
  background: var(--white, #fff);
}

.project-card h3 {
  text-align: left;
}

.idea {
  color: var(--cloud, #f4f4fd);
}
.person {
  text-align: center;
}

.our-team {
  background-color: var(--cloud, #f4f4fd);
}
